<h2>{{myplayers.length}} MyPlayers</h2>
{{#each myplayers as |myplayer index|}}
<h3>
  <a href="/myplayers/{{myplayer.postion }}">{{myplayer.height}} for the position of {{myplayer.archetype1}}</a>
</h3>
{{/each}}

<h3>Update player</h3>
<form action="/myplayers/{{myplayer.position}}?_method=put" method="post">
  <input type="text" name="myplayer[position]" placeholder="Position" /> 
  <input type="text" name="myplayer[archetype1]" placeholder="Archetype" />
   <button type="submit">Update Player</button>
</form>

<h3>Remove player</h3>
<form action="/myplayers/{{myplayer.position}}?_method=delete" method="post" type="submit">
  <button class="btn">Remove</button>
</form>
