{{#if myplayer}}
<h2>{{myplayer.name}}</h2>
<h3>
  Standing at {{myplayer.height}} for the position of {{myplayer.archetype1}}
</h3>
{{else}}
<h2>That myplayer couldn't be found!</h2>
{{/if}}




<h3>Update player</h3>
<form action="/myplayers/{{myplayer.name}}?_method=put" method="post">
  <input type="text" name="myplayer[name]" placeholder="Player Name" /> 
  <input type="text" name="myplayer[archetype1]" placeholder="Archetype" />
   <button type="submit">Update Player</button>
</form>

<h3>Remove player</h3>
<form action="/myplayers/{{myplayer.name}}?_method=delete" method="post" type="submit">
  <button class="btn">Remove</button>
</form>
