{{#if myplayer}}
<h2 class="white-text">{{ myplayer.name}}</h2>
{{else}}
<h2>That myplayer couldn't be found!</h2>
{{/if}}
<h3 class="white-text">UPDATE</h3>
<form action="/myplayers/{{  myplayer.name }}?_method=put" method="post">
    <input type="text" class="white-text" name="myplayer[name]" value="{{  myplayer.name }}">
    <input type="text" class="white-text" name="myplayer[position]" value="{{  myplayer.position }}">
    <button class="btn" >UPDATE</button>
    {{!-- <input type="submit" value="update"> --}}
</form>

<br>
<h3 class="white-text">REMOVE</h3>
<form method="post" action="/myplayers/{{  myplayer.name }}?_method=delete" type="submit">
<button class="btn" >Remove</button>
</form>


