{{#if myplayer}}
<h1 class="purple-text">{{ myplayer.name}}</h1>
{{else}}
<h2>That myplayer couldn't be found!</h2>
{{/if}}
<h4 class="purple-text">Update information</h4>
<form action="/myplayers/{{  myplayer.name }}?_method=put" method="post">
  <input type="text" class="purple-text" name=" myplayer[name]" value="{{  myplayer.name }}">
  <input type="text" class="purple-text" name=" myplayer[position]" value="{{  myplayer.position }}">
  {{!-- <input type="text" class="purple-text" name=" myplayer[archetype]" value="{{  myplayer.archetype }}"> --}}
  <input type="submit" value="update">
</form>
<br>
<h4 class="purple-text">Remove  Myplayer</h4>
<form method="post" action="/myplayers/{{  myplayer.name }}?_method=delete" type="submit">
<button>Remove</button>
</form>

